# encoding: utf-8
<div class="btn-group">
  <button class="btn dropdown-toggle" data-toggle="dropdown" id="sort_btn"><%= (params[:sort].present? && sort_types.include?(params[:sort].to_sym)) ? t("sort.#{sort_model}.#{params['sort']}") : '默认排序'%> <span class="caret"></span></button>
  <ul class="dropdown-menu">
	  <li><%= link_to "默认排序", params.merge({sort: ""}) %></li>
    <% sort_types.each do |sort_type|%>
      <li><%= link_to t("sort.#{sort_model}.#{sort_type}"), params.merge({sort: sort_type}) %></li>
    <% end%>
  </ul>
</div>