<div id="userdetail"  role="dialog" aria-hidden="true">
	<%= form_for @user do |f| %>
		<%= render partial: 'form', locals: {f: f}%>
	<div class="modal-footer">
		<%= link_to "返回", :back, class: "btn btn-info"%>
		<%= f.submit "修改", class: "btn btn-primary" %>
	</div>
	<% end %>
</div>
