<div id="userdetail"  role="dialog" aria-hidden="true">
  <%= form_for @user do |f| %>
    <%= render partial: 'form', locals: {f: f}%>
  <div class="modal-footer">
    <%= f.submit "添加", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>