<center>
	<div class="row-fluid">
		<div class="btn-group" data-toggle="buttons-radio">
		  <button type="button" class="active btn btn-large btn-primary" onclick="showInfo(1)">首页</button>
		  <button type="button" class="btn btn-large btn-primary" onclick="showInfo(2)">书目列表</button>
		  <button type="button" class="btn btn-large btn-primary" onclick="showInfo(3)">当前借阅</button>
		  <button type="button" class="btn btn-large btn-primary" onclick="showInfo(4)">当前预定</button>
		  <button type="button" class="btn btn-large btn-primary" onclick="showInfo(5)">借阅历史</button>
		  <button type="button" class="btn btn-large btn-primary" onclick="showInfo(6)">预定历史</button>
		  <button type="button" class="btn btn-large btn-primary" onclick="showInfo(7)">推荐列表</button>
		</div>
	</div>
</center>

<script type="text/javascript">
	function showInfo(id)
	{
		switch(id){
		case 1:{$.get('book',function(data){$('#info').html(data);},"html");break;}
		case 2:{$.get('book/show',function(data){$('#info').html(data);},"html");break;}
		case 3:{$.get('book/show',function(data){$('#info').html(data);},"html");break;}
		case 4:{$.get('book/show',function(data){$('#info').html(data);},"html");break;}
		case 5:{$.get('book/show',function(data){$('#info').html(data);},"html");break;}
		case 6:{$.get('book/show',function(data){$('#info').html(data);},"html");break;}
		case 7:{$.get('book/show',function(data){$('#info').html(data);},"html");break;}
		}
	}
</script>