<div class="container-fluid">
	<center>
		<div class="row-fluid">
			<div class="btn-group" data-toggle="buttons-radio">
			  <button type="button" class="active btn btn-large btn-primary">首页</button>
			  <button type="button" class="btn btn-large btn-primary">书目列表</button>
			  <button type="button" class="btn btn-large btn-primary">当前借阅</button>
			  <button type="button" class="btn btn-large btn-primary">当前预定</button>
			  <button type="button" class="btn btn-large btn-primary">借阅历史</button>
			  <button type="button" class="btn btn-large btn-primary">预定历史</button>
			  <button type="button" class="btn btn-large btn-primary">推荐列表</button>
			</div>
		</div>
	</center>
	<div class="row-fluid">
		<%= render 'new_hot' %>
	</div>
</div>