@import "bootstrap";
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.alert {
	margin-bottom: 5px;
}

#logo {
  font-size: 1.7em;
  color: white;
//  text-transform: uppercase;
  font-weight: bold;
  margin-top: 3px;
}

.navbar-form {
	margin-top: 5px;
	margin-bottom: -10px;
}